.card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  margin-bottom: 32px;
}

.imageWrapper {
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  width: 292px;
  height: 320px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardContent {
  display: flex;
  flex-direction: column;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 8px;
}

.cardTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--main);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.priceWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.cardPrice {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--main);
}

.heartBtn {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.heartBtn.active svg {
  fill: var(--button);
}

.heartBtn:hover,
.heartBtn:focus {
  fill: var(--button);
}

.infoBar {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 24px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  min-width: 113px;
}

.ratingText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main);
  margin-left: 4px;
}

.locationGroup {
  display: flex;
  align-items: center;
  gap: 4px;
  min-width: 113px;
}

.locationText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main);
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 24px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
  max-height: 101px;
  overflow: hidden;
}

.featuresItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 100px;
  padding: 12px 18px;
  height: 48px;
  background-color: var(--badges);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--main);
}

.featureIcon {
  flex-shrink: 0;
}

.cardBtn {
  border-radius: 200px;
  padding: 16px 40px;
  width: 166px;
  height: 56px;
  background-color: var(--button);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
}

.cardBtn:hover,
.cardBtn:focus,
.cardBtn:active {
  background-color: var(--button-hover);
}
