.hero {
  width: 100%;
  height: 696px;
  background-image: url('/images/hero/Hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heroContent {
  padding: 260px 0px;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.16;
  color: var(--inputs);
  margin-bottom: 16px;
}

.subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--inputs);
  margin-bottom: 40px;
}

.btnHero {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
  border-radius: 200px;
  padding: 16px 60px;
  min-width: 173px;
  display: inline-block;
  background-color: var(--button);
}

.btnHero:hover,
.btnHero:focus,
.btnHero:active {
  background-color: var(--button-hover);
}
