.calendarCard {
  min-width: 276px;
  padding: 12px;
  background-color: var(--white);
  border: 1px solid var(--text);
  border-radius: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14.5px;
}

.currentDate {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--main);
}

.navBtn {
  background: none;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  transition: opacity 0.2s;
}

.navBtn:hover {
  opacity: 0.7;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  margin-top: 12px;
}

.daysHeaderRow {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-bottom: 1px solid var(--text);
}

.dayName {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  color: var(--text);
  padding-bottom: 12px;
}

.dayCell {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: var(--main);
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.2s;
}

.dayCell:hover:not(.empty) {
  background-color: #f7f7f7;
}

.notCurrent {
  color: var(--text);
}

.selected {
  background-color: var(--text);
  color: var(--inputs);
}
