.section {
  padding-top: 48px;
  padding-bottom: 80px;
}

.header {
  margin-bottom: 28px;
}

.cardTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--main);
  margin-bottom: 8px;
}

.infoBar {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.rating,
.locationGroup {
  display: flex;
  align-items: center;
  gap: 4px;
}

.ratingText,
.locationText {
  font-size: 16px;
  line-height: 1.5;
  color: var(--main);
}

.ratingText {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.cardPrice {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--main);
}

.gallery {
  display: flex;
  gap: 48px;
  margin-bottom: 28px;
  padding: 0;
}

.galleryItem {
  width: 292px;
  height: 312px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
}

.galleryItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transform: scale(1.4);
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
  margin-bottom: 60px;
}

.tabsHeader {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid var(--gray-light);
  margin-bottom: 44px;
}

.tabsHeader button {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  padding-bottom: 24px;
  background: transparent;
  position: relative;
  color: var(--main);
}

.tabsHeader button.active::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--button);
}

.contentWrapper {
  display: flex;
  gap: 40px;
  align-items: stretch;
  margin-top: 44px;
}

.sidebar {
  flex-shrink: 0;
  display: flex;
}
